@import url("https://fonts.googleapis.com/css2?family=Poppins:ital ,wght@0,200;0,300;0,500;0,700;0,900;1,200;1,300&display=swap");

.poppins_extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/************************************/
/************************************/
/************************************/
:root {
  --primary-color: #00168e;
  --secondary-color: #005aed;
  --tertiary-color: #b5d0ff;
  --light-color: #fff45b;
  --neutre: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav,
.dropdown-menu {
  background-color: var(--primary-color);
}

.dropdown-item:hover {
  background-color: var(--secondary-color);
}

.hero-section {
  background-image: url("../images/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
}

.hero-section .content {
  position: relative;
  top: 75%;
}

.hero-section h1 {
  font-weight: 700;
}

.hero-section small {
  font-weight: 200;
}

.hero-section .hero-section-span {
  color: #e0d41f;
}

.btn-primary {
  background-color: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--secondary-color);
}
/**********************/
/****FIN HERO-SECTION/


/********************/
.exposition-section ul {
  background-color: var(--neutre);
  box-shadow: 3px 5px 5px 3px rgb(126, 125, 125);
}

.exposition-section .cat-expo-item-active {
  background-color: var(--primary-color);
  color: var(--neutre);
  cursor: pointer;
}

.cat-expo-item:hover {
  background-color: var(--secondary-color);
  color: var(--neutre);
  cursor: pointer;
}

.exposition-section .card {
  width: 365px;
  overflow: hidden;
}
.exposition-section .card:hover {
  box-shadow: 3px 5px 5px 3px rgb(126, 125, 125);
}

.exposition-section .card img {
  transition: transform 0.5s ease;
}
.exposition-section .card img:hover {
  transform: scale(1.1);
}

.exposition-section .card .card-body span {
  font-size: 2rem;
  color: #e0d41f;
}

.hidden {
  display: none;
}
/**********************/
/****FIN EXPOSITION-SECTION/


/********************/
.cta-section {
  background-color: var(--primary-color);
}

/********************************************/
/********************************************/
/********************************************/
/*********MEDIA QUERIES*/
@media screen and (min-width: 375px) and (max-width: 667px) {
  .hero-section {
    height: 480px;
  }
  .hero-section .content {
    top: 20%;
  }

  /********************/
  .cta-section .cta-section-des {
    text-align: initial;
  }
}

@media screen and (min-width: 393px) and (max-width: 852px) {
  .hero-section {
    height: 480px;
  }
  .hero-section .content {
    top: 25%;
  }
}

@media screen and (min-width: 575px) and (max-width: 862px) {
  .hero-section {
    height: 480px;
  }
  .hero-section .content {
    top: 35%;
  }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  .hero-section {
    height: 480px;
  }
  .hero-section .content {
    position: absolute;
    top: 15%;
    margin-right: 50px;
  }

  /********************/
  .cta-section .cta-section-des {
    text-align: initial;
  }
}

@media screen and (min-width: 820px) and (max-width: 3260px) {
  /* .hero-section .content {
    position: absolute;
    top: 15%;
    margin-right: 50px;
  } */
  /********************/
  .cta-section .cta-section-des {
    text-align: left;
  }
}

@media screen and (min-width: 1559px) and (max-width: 975px) {
  .hero-section {
    height: 380px;
  }
  .hero-section .content {
    top: 95%;
  }
}
